streamlit
numpy
pandas
matplotlib
jsons
tweepy==4.12.1
requests
regex==2022.10.31
strings==0.1.1
nltk
scikit-learn
beautifulSoup4
oauthlib
OAuthHandler
tokenizer
FreqDist
sent_tokenize
word_tokenize
stop-words
PorterStemmer
TfidfVectorizer
GaussianNB
train_test_split
classification_report
confusion_matrix
accuracy_score
urlopen
