numpy
pandas
matplotlib
jsons
tweepy==v2
requests
regex
strings
nltk
scikit-learn
beautifulSoup4
streamlit
oauthlib
OAuthHandler
tokenizer
FreqDist
sent_tokenize
word_tokenize
stop-words
PorterStemmer
TfidfVectorizer
GaussianNB
train_test_split
classification_report
confusion_matrix
accuracy_score
urlopen
