numpy
pandas
matplotlib
jsons
tweepy
request
re
string
nltk
scikit-learn
BeautifulSoup
streamlit
OAuth1
OAuthHandler
word_tokenize
FreqDist
sent_tokenize
word_tokenize
stopwords
PorterStemmer
TfidfVectorizer
GaussianNB
train_test_split
classification_report
confusion_matrix
accuracy_score
urlopen